extends layout

block content
  section.section
    .container
      .columns
        .column.is-8
          .content
            h1.title Changelog
            h2.subtitle
              | Nejnovější verzi aplikace naleznete 
              a(href="/radio/public/latest.apk") zde.
            
            h3 28.7.2019
            ul
              li Přidána verze admin panelu pro účastníky
              li Přidán návod k použití admin panelu
            h3 28.5.2019
            ul
              li Finální verze
              li Aplikace přeložena a přejmenována
              li Zafixované debug parametry
              li Odstranění debug informací z notifikací
              li Přidána podpora pro číslice
              li Změna jmenného prostoru webu
            h3 25.5.2019
            ul
              li Přidána možnost upravení rychlosti konkrétní zprávy
              li Zafixována orientace displeje 
            h3 24.5.2019
            ul
              li Opraven crash při přijímání zprávy v Androidu 4
            h3 20.5.2019
            ul
              li Opraven crash při otevírání některých sekcí na starší verzi Androidu
              li Přidáno tlačítko na vymazání veškerého obsahu v sekci Notes
              li Přidány užitečné připomínky na hlavní obrazovku
              li Aplikace vibruje před přehráním zprávy
              li Každá zpráva má nyní vlastní notifikaci
              li Upraveny ikony
