extends layout

block content
  section.hero
    .hero-body
      .container
        h1.title La Radio di Biagi
        h2.subtitle Matfyzí telegraf

  section.section
    .container      
      .content
        h4 Co je tohle zač?
        p Tento kus internetu patří webovým stránkám projektu La Radio di Biagi - programu pro dálkové vysílání zpráv pomocí Morseovy abecedy. Primárně byl vytvořen jako součást mimoodborného programu Soustředění mladých fyziků a matematiků v roce 2019.
        h4 Jak můžu přijímat zprávy?
        p
          | Stačí nainstalovat a zapnout připravenou androidí aplikaci. Přejdi na 
          a(href="/radio/install") tuto stránku, 
          | kde je všechno vysvětleno.
        h4 Jak můžu odesílat zprávy?
        p Zprávy může odesílat v tuto chvíli pouze ten, kdo zná přihlašovací údaje k administrátorskému panelu.
        h4 Jak zjistím tyto přihlašovací údaje?
        p Údaje jsou známy účastníkům a vedoucím Soustředění z roku 2019. V současnosti není tato funcionalita otevřena veřejnosti.
        h4 Mám iPhone / Windows Phone / Nokii 3310. Můžu používat tuhle aplikaci?
        p Bohužel ne. Podporujeme pouze zařízení s Androidem 4.4 a výše. Jestli chceš poslouchat, musíš si najít buď nový telefon, nebo kamaráda.
        h4 Našel jsem chybu v aplikaci. Jak jí můžu nahlásit?
        p 
          | Napiš ji 
          a(href="/radio/bug") sem 
          | a já se o ní dozvím.
        h4 Mám nějaký jiný dotaz.
        p 
          | Pošli ho 
          a(href="/radio/feedback") sem, 
          | abych si ho mohl přečíst. Nezapomeň uvést nějakou kontaktní informaci, abych na něj mohl odpovědět.
