extends layout

block content
  section.section
    .container
      .columns
        .column.is-8
          .content
            h1 Instalace aplikace
            h3 Nutné předpoklady
            ul
              li OS Android verze 4.4 nebo vyšší
              li Stálé připojení k internetu
              li Instalované Google Play Services (v podstatě kdo má Google Play, je v pohodě)
            h3 Stažení
            p
              | Aplikaci stáhnete 
              a(href="/radio/public/la_radio.apk") zde.
            h3 Instalace
                h4 Android 7 (Nougat) a nižší
                ol
                  li V nastavení přejděte do kategorie Zabezpečení a povolte položku Neznámé zdroje
                  li Stáhněte si aplikaci z odkazu výše
                  li Kliknutím na stažený soubor otevřete instalační dialog
                  li Klikněte na tlačítko Nainstalovat
                  li Po dokončení instalace opět zakažte položku Neznámé zdroje
                  li Aplikaci můžete používat
                h4 Android 8 (Oreo) a vyšší
                ol
                  li Stáhněte aplikaci z odkazu výše
                  li Otevřete stažený soubor
                  ul
                    li Pokud se při otevření souboru objeví okno s nápisem "Z bezpečnostních důvodů do telefonu není dovoleno instalovat neznámé aplikace z tohoto zdroje", klikněte na tlačítko Nastavení, vyberte položku "Povolit z tohoto zdroje" a vraťte se zpět.
                  li Pomocí tlačítka "Instalovat" nainstalujte aplikaci
                  li Po dokončení instalace můžete aplikaci používat
            h3 Poznámky
            ul
              li Pokud se instalace nepovede, zkuste ji znovu.
              li Používání je poměrně přímočaré. Zkuste použít jednotlivé záložky a snadno zjistíte, co dělají.
              li Je vhodné, abyste rozuměli všem nápisům v aplikaci. Mohou být důležité!
              li Ujistěte se, že máte zapnuté zvoňení na dostatečnou hlasitost, jinak zprávy nebudou slyšet.
              li S každou přijatou zprávou se zobrazí notifikace, takže poznáte, zda jste něco zameškali.
