doctype html
html
  head
    title La Radio di Biagi
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/bulma.min.css')
    block favicons    
      link(rel="apple-touch-icon", sizes="180x180", href="/icons/radio/apple-touch-icon.png")
      link(rel="icon", type="image/png", sizes="32x32", href="/icons/radio/favicon-32x32.png")
      link(rel="icon", type="image/png", sizes="16x16", href="/icons/radio/favicon-16x16.png")
      link(rel="manifest", href="/icons/radio/site.webmanifest")
      link(rel="mask-icon", href="/icons/radio/safari-pinned-tab.svg", color="#2ca02c")
      link(rel="shortcut icon", href="/icons/radio/favicon.ico")
      meta(name="apple-mobile-web-app-title", content="La Radio")
      meta(name="application-name", content="La Radio")
      meta(name="msapplication-TileColor", content="#00a300")
      meta(name="msapplication-config", content="/icons/radio/browserconfig.xml")
      meta(name="theme-color", content="#ffffff")

  body
    block content
    block javascripts
