extends layout

block content
  section.section
    .container
      .columns
        .column.is-8
          .content
            h1.title La Radio di Biagi Admin&nbsp;Panel
            h2.subtitle návod k použití
            h3 Odeslání nové zprávy
            ol 
              li Před použitím si pozorně přečtěte tento návod
              li V horní liště klikněte na tlačítko Nová zpráva
              li Vyplňte text zprávy. Text může obsahovat pouze písmena, čísla, mezery, čárky a tečky. (Interpunkce je pouze pro čitelnost a nemá vliv na výsledný tvar zprávy.)
              li Zkontrolujte správnost všech údajů. Po odeslání nemáte možnost zprávu změnit!
              li Pokud jste si jisti všemi údaji, klikněte na tlačítko odeslat. Při úspěšném odeslání budete přesunuti zpět na hlavní stranu.
            h3 Práce s časovačem
            p Admin Panel nabízí jednoduchou pomůcku pro odhad délky trvání odeslaných zpráv. Chcete-li zjistit, jak dlouho se bude zpráva přehrávat, přejděte v horní liště na záložku Časovač a zadejte svůj text.
            p Mějte na paměti, že každá zpráva se přehrává dvakrát. Výsledná doba přehrávání na telefonu bude tedy cca. dvojnásobkem uvedené hodnoty.
            p Pokud chcete zprávu odeslat s vlastní hodnotou zpomalovače, vynásobte výslednou hodnotu navíc ještě daným koeficientem zpomalení.
